.link {
  color: #fff !important;
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  white-space: nowrap;
  padding: 0px 24px 0px !important;
}
.scrolled {
  background-color: rgba(58, 58, 68, 0.4);
 box-shadow: 0 0 10px rgba(0, 0, 0, .15);

}




.navbar-brand {
  order: 2; /* Center the logo by reordering flex items */
}
.navbar-toggler {
  order: 1;
  border: none;
  background-color: transparent;
}



.navbarToggler {
  border: none;
  padding-left: 0;
  color: #fff;
  background-color: transparent;
}

.navbarToggler:focus {
  border: none;
  outline: none;
}

.icon {
  width: 30px;
  height: 30px;
}
.nav-btn {
  background-color: var(--primary);
  background-image: none;
  border: 2px solid var(--primary);
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Mark, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 10px 30px;
  transition: all 0.25s ease;
}
.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust width as needed */
  height: 100%;
  background-color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(4px);
  color: #263238;
  transform: translateX(-100%); /* Start off-screen on the left */
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
  padding: 1rem;
  border-radius: 0 0px 0px 0; /* Rounded corners on the right */
}
.offcanvas.show {
  transform: translateX(0); /* Slide in from the left */
}
.offcanvasBody {
  display: flex;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 10px;
  background-color: #fff;
  color: #263238;
  list-style: none;
  z-index: 1000;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  display: block;
 
}
.dropdownMenu li:hover{
  background-color: #eefdff;
}

.dropdownMenu li{
  padding:5px;
}

.dropdown-item {
  color: #000;
  padding: 5px;
    font-size: 16px;
  text-decoration: none;
}

.dropdownIcon{
    position: absolute;
    top: 0;
    right: 20%;
}
@media screen and (max-width: 1220px) {
  .link {
    padding: 12px !important;
    font-size: 14px;
  }
  .nav-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}
@media screen and (max-width:500px ) {
  .icon {
        width: 22px;
        height: 22px;
    }
    .nav-btn {
    font-size: 14px;
    padding: 4px 16px;
  }
  .navbar-nav{
        text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .navbar-brand {
    order: 1; /* Logo on the left */
    margin-left: 0;
    margin-right: 0;
  }


  .navbarToggler {
    display: none; /* Hide the toggle button */
  }

  .icons {
    order: 3; /* Icons on the right */
  }

  .navbar-nav {
    order: 2; /* Center the menu items */
    
  }

  .nav-btn {
    margin-left: auto;
  }
  .offcanvas {
    display: none; /* Hide off-canvas menu on desktop */
  }
}